* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', 'Open Sans', sans-serif;
}

:root {
  --primary-orange: #f9a03f;
  --secondary-color: #00ff00;
  --accent-green: #ddf9c1;
  --accent-grey: #e0e0e0;
  --accent-brown: #813405;
  --accent--cream: #f8dda4;
}
