/* Start Global Rules */
* {
  box-sizing: border-box !important;
}

:root {
  --primary-orange: #f9a03f;
  --secondary-color: #00ff00;
  --accent-green: #ddf9c1;
  --accent-grey: #e0e0e0;
  --accent-brown: #813405;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--primary-orange);
  --bs-btn-bg: #fff;
  --bs-btn-hover-color: var(--primary-orange);
  --bs-btn-hover-bg: #{shade-color(var(--primary-orange), 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-white, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-grey-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.landing-page {
  font-family: 'Poppins', 'Open Sans', sans-serif;
}

header {
  background-image: url('../../assets/images/blob-scene-haikei.png');
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.landing--header {
  box-shadow: '0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1)';
}

.landing-page .navbar button {
  border-radius: 1.3rem;
  border: 0.791752px solid #f9a03f;
  padding: 0.625rem 1.25rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 1.25rem;
}

.navbar-nav a {
  color: #e0e0e0;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  transition: 0.3s;
  line-height: 38px;
}

.navbar-nav a:hover,
a:active {
  color: var(--accent-brown);
}

.welcome--image {
  vertical-align: middle;
  border-style: none;
}

.main--info h1 {
  color: #5d5d5d;
  font-weight: 500;
}

.main--info p {
  border-left: 0.066rem solid #333333;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.45rem;
  line-height: 27px;
  color: #828282;
  text-align: center;
}

.start-btn {
  border: 0;
  border-radius: 5px;
  padding: 0.84rem 2.14rem;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: linear-gradient(95.34deg, #f9a03f 0%, #ffcd2e 100%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.feature-card {
  border-color: #f9a13d !important;
}

.feature-card:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454) !important;
}

.feature-card badge {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.list-inline-item {
  margin-left: 8px;
}

.list-inline-item a {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.235s ease-in-out;
}

.card .list-inline-item a {
  color: #4f4f4f;
}

.card .list-inline-item a:hover,
a:focus {
  color: rgba(120, 120, 120, 0.25);
}

footer .list-inline-item a:hover,
a:focus {
  color: rgba(255, 255, 255, 0.25);
}

footer {
  background-color: #212121;
}

.letter-btn {
  min-height: 50px;
  border-radius: 0;
  background: #243c4f;
  color: #fff;
  font-weight: 600;
}

/** fadeIn **/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/** fadeInRight **/

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

/** fadeInLeft **/

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-100px);
    -moz-transform: translatex(-100px);
    -o-transform: translatex(-100px);
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
.in-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-duration: 0.4s;
  animation-delay: 0.4s;
}

/* media queries */

@media only screen and (max-width: 992px) {
  .navbar-collapse {
    border-radius: 0 0 10px 10px;
    background-color: rgb(255, 255, 255);
  }

  .h1-responsive {
    font-size: 150%;
  }
}

@media (min-width: 1200px) {
  .h1-responsive {
    font-size: 250%;
  }

  .main--info {
    margin-top: 8rem;
  }
}

@media (min-width: 992px) {
  .h1-responsive {
    font-size: 250%;
  }
}
